<div class="faded">
		<div class="profilepic">
				<img class="propic" src="images/profile1.jpg"/>
		</div>
	<div class="biointro">
		<p>Hi, I'm Danielle Boutte, owner of DCBoutte Photography and the creator
			of this website. Welcome! As a photographer, I've captured many moments
			over the years. Some planned, some unplanned, but all wonderful. I
			consider myself lucky to have spent my early years in beautiful
			Rappahannock County, Virginia, where I spent quite a bit of time in the
			mountains, discovering what lens or camera works in what natural
			environment, while learning what makes a powerful photo.
		</p>
	</div>
	<div class="paragrapgh">
		<div class="bodyp">
			<p> With the creation of smartphones and their truly notable camera
				capabilities, we can all take impressive snapshots of the world
				around us. But what makes engaging a professional photographer
				worthwhile is their ability to find the moment in the moment- the
				sidelong glance from a passerby while taking a shot of a bride and
				groom, a sparrow's flight while photographing a gorgeous Dogwood. It's
				not just about the photo, but about the photographer's ability to find
				the unexpected details that bring the moment to life. If you are also
				looking for a photographer for your next event, let's talk. I can
				usually accommodate any request and can work within any budget. I would
				be proud to capture the moments of your life! 
		</div>
	</div>
	<div class="packages">
		<div class="pricing">
			<h2> Pricing </h2>
		</div>
		<div class="pacpri">
			<div class="pac1">
				<h3> Package 1 </h3>
				<p>$50.00 per hour</P>
			</div>
			<div class="pac2">
				<h3> Package 2 </h3>
				<p>$50.00 per hour</p>
				<p>$20.00 photo edits</p>
				<p>(fixing lighting, blemishes etc.)</p>
				<p> Photoshop/ Gimp</p>
			</div>
		</div>
			<h4>Pricing will fluctuate based on location and distance.</h4>
	</div>
</div>
