<div class="leadin">
	<p>In need of a photgrapher for portraits, weddings, events, or more? Copy and paste my email below and send me a message,</p><p style="color:blue;">dcbouttephotography@gmail.com</P> or click the instagram link at the bottom of the page to go to my instagram account where you can direct message me. </p>
	<p>Feel free to email me with any questions, or if you are interested in prints of my photos as well.</p>
</div>

<footer>
	<div class="logo">
		<a target="_blank" title="follow me on instagram" href="http://www.instagram.com/dcbouttephotography/">
			<img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram40x40.png" border=0>
		</a>
	</div>
	<div>
		<h5>DCBoutte Photography</h5>
	</div>
</div>