<div class="back">	
	<h2>Click the photos below to see more photos in that category.</h2>
	<div id="categories">
		<div class="category">
			<a href="<%= LANDSCAPE_ROUTE %>">
				<h5>Landscape Photography</h5>
				<img src="images/Naturemain.JPG"/>
			</a>
		</div>
		<div class="category">
			<a href="<%= NATURE_ROUTE %>">
				<h5>Nature Photography</h5>
				<img src="images/at1.jpg"/>
			</a>
		</div>
		<div class="category">
			<a href="<%= PORTRAIT_ROUTE %>">
				<h5>Portrait Photgraphy</h5>
				<img src="images/mainp.JPG"/>
			</a>
		</div>
	</div>
	<div class="quotes">	
		<h3> "I have to say, she definitely brought my vision to life through her photos. The
			details not only capture “the moment” but highlight all the emotions within the photo. I smile every time I look 
			through our photo album." </h3>
		<p style="color:white;"> -Amber S. (Anniversary Photography) </p>
	</div>
</div>