html{
  position: relative;
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0 0 200px; /* bottom = footer height */
  /*background-color: grey;*/
  background-image: url('../images/at.jpg');
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
	color: white;
  background-color: black;
  text-align: left;
  font-weight: bold;
  height: 55px;
  padding-top: 3px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin: 0px 0px 0 0;
  position: fixed;
  margin-top: -55px;
}

.header h5 {
  margin-top: 5px;
  font-family: Calibri;
  font-size: 30px
}

#menu, #logo {
  display: inline-block;
}

#menu {
    padding-left: 47%;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: right;
    text-shadow: 3px 2px 3px #333333;
    background-color: black;
    list-style: none;
    position: fixed;
    margin-top: -4px;
    padding-top: 24px;
    padding-right: 27px;

}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li {
display: inline;

}

#menu a {
	color: white;
    text-decoration: none;
    padding: 8px 8px 8px 8px;
    font-family: calibri;
}

#menu a:hover {
    color: #333333;
    background-color: #FFF;
}

img {
  height:  450px;
}
#categories {
  padding-top: 60px;
  text-align: center;
}

.category{
display: inline-block;
margin: 0px 20px;
}

.category h5{
  color: white;
  font-family: calibri;
  font-size: 18px;
}

#categories a{
  text-decoration: none;
}

footer {
  background-color: black;
  text-align: left;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}

footer div {
  float: left;
  width: 50%;
}

footer h5{
    color:white;
    font-weight: bold;
    text-align: right;
    font-family: calibri;
    font-size: 30px;
    padding-right: 20px;
    margin: 30px 0 0 0;
  }
  #categories h3{
    padding-bottom: 10px;
  }

  #gallery {
  padding-top: 60px;
    text-align: center;
}

.photo {
  text-align: center;
  margin: 100px 0;
}

.photo img{
  width: 600px;
  height: auto;
}

.photo:first-child {
  margin-top: 0px;
}

.input-row {
  margin-bottom: 20px;
  padding-left: 10px;
}

.input-row input {
  width: 350px;
  padding-left: 10px;
}

.input-row textarea {
  width: 350px;
  height: 180px;
  padding-left: 10px;
}

label {
  color: white;
  width: 100px;
  display: inline-block;
  vertical-align: top;
}

.leadin {
  color: white;
  padding-left: 10px;
  width: 50%;
  padding-bottom: 75px;
}

.logo {
  height: 50px;
  margin-top: 30px;
  padding-left: 10px;
  box-sizing: border-box;
}

.logo img {
  height: 100%;
}

.biointro p {
  color: white;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  line-height: 24px;
  margin-top: -68px;
}

.bodyp p {
  color: white;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  line-height: 24px;
}

.profilepic {
  text-align: center;
  margin: 100px 0;
}

.packages {
  color: white;
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
}

.propic {
  height: 300px;
}

.pricing{
  margin-bottom: 45px;
}

.pacpri{
  line-height: 10px;
}

.pac1{
  margin-bottom: 35px;
}

.pac2{
  margin-bottom: 35px;
}

.faded {
background: rgba(0, 0, 0, .5);
margin-left: 290px;
margin-right: 290px;
margin-top: -45px;
margin-bottom: -100px;
}
